In [1]:
from sklearn import tree
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt

In [2]:
# Read in the data
titanic = pd.read_csv('../data/titanic.csv')

In [3]:
# Take a  selection of the variables
d = titanic[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch']]

In [ ]:
# Check for missing values in all columns

In [ ]:
# Convert all variables to numeric for scikit learn

In [ ]:
# Fill in missing values with the mean value (hint: use .fillna())

In [ ]:
# Explore the data to identify trends in characteristics of survivors

In [ ]:
# Create a proxy variable representing whether the Spouse was on board

In [ ]:
'''
Split into training and test datasets, and build the model
'''

In [4]:
survived = d['Survived']
del d['Survived']

In [5]:
d

     Pclass     Sex  Age  SibSp  Parch
0         3    male   22      1      0
1         1  female   38      1      0
2         3  female   26      0      0
3         1  female   35      1      0
4         3    male   35      0      0
5         3    male  NaN      0      0
6         1    male   54      0      0
7         3    male    2      3      1
8         3  female   27      0      2
9         2  female   14      1      0
10        3  female    4      1      1
11        1  female   58      0      0
12        3    male   20      0      0
13        3    male   39      1      5
14        3  female   14      0      0
15        2  female   55      0      0
16        3    male    2      4      1
17        2    male  NaN      0      0
18        3  female   31      1      0
19        3  female  NaN      0      0
20        2    male   35      0      0
21        2    male   34      0      0
22        3  female   15      0      0
23        1    male   28      0      0
24        3  female    8      3      1
25        3  female   38      1      5
26        3    male  NaN      0      0
27        1    male   19      3      2
28        3  female  NaN      0      0
29        3    male  NaN      0      0
..      ...     ...  ...    ...    ...
861       2    male   21      1      0
862       1  female   48      0      0
863       3  female  NaN      8      2
864       2    male   24      0      0
865       2  female   42      0      0
866       2  female   27      1      0
867       1    male   31      0      0
868       3    male  NaN      0      0
869       3    male    4      1      1
870       3    male   26      0      0
871       1  female   47      1      1
872       1    male   33      0      0
873       3    male   47      0      0
874       2  female   28      1      0
875       3  female   15      0      0
876       3    male   20      0      0
877       3    male   19      0      0
878       3    male  NaN      0      0
879       1  female   56      0      1
880       2  female   25      0      1
881       3    male   33      0      0
882       3  female   22      0      0
883       2    male   28      0      0
884       3    male   25      0      0
885       3  female   39      0      5
886       2    male   27      0      0
887       1  female   19      0      0
888       3  female  NaN      1      2
889       1    male   26      0      0
890       3    male   32      0      0

[891 rows x 5 columns]

In [ ]:
# Now, split the data into training and test sets

In [ ]:
# Create a decision tree classifier instance (start out with a small tree for interpretability)

In [ ]:
# Fit the decision tree classifier

In [ ]:
# Create a feature vector

In [ ]:
# How to interpret the diagram?

In [ ]:
# Predict what will happen for 1st class woman

In [ ]:
# Predict what will happen for a 3rd class man

In [ ]:
# Which features are the most important?

In [ ]:
# Clean up the output

In [ ]:
# Make predictions on the test set

In [ ]:
# Calculate accuracy

In [ ]:
# Confusion matrix

In [ ]:
# Make predictions on the test set using predict_proba

In [ ]:
# Calculate the AUC metric

In [ ]:
# Decision Trees have notorouisly high variance, so what can we do
# to better estimate the out of sample error of a high variance model?

In [ ]:
# cross validation

In [ ]:
# compare AUC using cross-validation

In [ ]:
# Import the naive bayes and KNN modules and calculate an ROC/AUC score for
# each one

In [ ]:
'''
Fine tuning the tree

'''

In [ ]:
# check CV score for max depth = 3

In [ ]:
# check CV score for max depth = 10

In [ ]:
# Conduct a grid search for the best tree depth

In [ ]:
# Check out the scores of the grid search

In [ ]:
# Plot the results of the grid search

In [ ]:
# Get the best estimator

In [ ]:
''' Use Grid Search try scan over three parameters
1. max_depth:     from 1 to 20
2. criterion:     (either 'gini' or 'entropy')
3. max_features : range (1,5)
'''

In [ ]:
# Conduct a grid search for the best tree depth

In [ ]:
# Check out the scores of the grid search

In [ ]:
# Get the best estimator

In [ ]:

'''
calculate a cross-validated roc_auc score for the model and compare to 
# base logistic regression
'''

In [ ]:
'''

Decision trees (like many other classification models)
can also be used for regression!

'''

In [ ]:
drinks = pd.read_csv('../data/drinks.csv', na_filter=False)

In [ ]:
# Make dummy columns for each of the 6 regions

In [ ]:
del drinks['continent']
del drinks['country']
del drinks['total_litres_of_pure_alcohol']

In [ ]:
X = drinks.drop('wine_servings', axis=1)
y = drinks['wine_servings']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [ ]:
rtree = tree.DecisionTreeRegressor()

rtree.fit(X_train, y_train)
rtree.predict(X_test)

In [ ]:
scores = cross_val_score(rtree, X, y, cv=10, scoring='mean_squared_error')
mse_scores = -scores
mse_scores

In [ ]:
rmse_scores = np.sqrt(mse_scores)
rmse_scores
rmse_scores.mean()

In [ ]:
wine_mean = y.mean()
wine_mean

In [ ]:
features = X.columns
pd.DataFrame(zip(features, rtree.feature_importances_)).sort_index(by=1, ascending=False)